    </div>
    <div id="inofooter">
        <nav class="inofooter navbar navbar-expand-sm navbar-light bg-light">
            <ul class="nav inofooter-nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- End of #inobody div -->
    </div>
 </body>
</html>