<%- include("./includes/header.ejs"); %>
<% if (locals.newAccount) {%>
<div class="alert alert-success" role="alert">Successfully created account.</div>
<% }%>
<h1>INO Tracker</h1>
<%- include("./includes/footer.ejs"); %>