<%- include("./includes/header.ejs"); %>

<% if (locals.newAccount) {%>
    <div class="alert alert-success" role="alert">Successfully created account.</div>
<% }%>
<% if (locals.loginSuccess) {%>
    <div class="alert alert-success" role="alert">Successfully logged in.</div>
<% } else if (locals.loginSuccess = false) {%>
    <div class="alert alert-danger" role="alert">Failed to login. Incorrect email or password.</div>
<% } %>
<% if (locals.logoutSuccess) {%>
    <div class="alert alert-success" role="alert">Successfully logged out.</div>
<% } %>
<% if (locals.message) {%>
    <div class="alert alert-warning" role="alert"><%= locals.message%></div>
<% }%>
<h1>Home</h1>
<% if (locals.images) {%>
    <div class="container">
        <div class="row">
        <% for (var i = 0; i < locals.images.length; i++) {%>
                <div class="col">
                    <div class="thumbnail">
                        <image class="thumbnail" src="<%= locals.images[i].image_link %>"></image>
                    </div>
                </div>
        <% } %>
        </div>
    </div>
<% } %>

<%- include("./includes/footer.ejs"); %>