<%- include("./includes/header.ejs"); %>
<% if (locals.newAccount) {%>
    <div class="alert alert-success" role="alert">Successfully created account.</div>
<% }%>
<% if (locals.loginSuccess) {%>
    <div class="alert alert-success" role="alert">Successfully logged in.</div>
<% } else if (locals.loginSuccess = false) {%>
    <div class="alert alert-danger" role="alert">Failed to login. Incorrect email or password.</div>
<% } %>
<% if (locals.logoutSuccess) {%>
    <div class="alert alert-success" role="alert">Successfully logged out.</div>
<% } %>
<% if (locals.message) {%>
    <div class="alert alert-warning" role="alert"><%= locals.message%></div>
<% }%>
<h1>INO Tracker</h1>
<%- include("./includes/footer.ejs"); %>