<%- include("./includes/header.ejs"); %>
<% if (locals.newAccount) {%>
    <div class="alert alert-success" role="alert">Successfully created account.</div>
<% }%>
<% if (locals.loginSuccess) {%>
    <div class="alert alert-success" role="alert">Successfully logged in.</div>
<% } %>
<h1>INO Tracker</h1>
<%- include("./includes/footer.ejs"); %>