<%- include('../includes/header');%>
<h1>Login</h1>
<form action="/login/" method="post" id="inot_register">
    <label>Email address</label>
    <div class="form-group">
        <input type="email" name="inot_email" class="form-control" placeholder="Enter email"/>
    </div>
    <label>Password</label>
    <div class="form-group">
        <input type="password" name="inot_pass" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('../includes/footer');%>