<%- include("../includes/header.ejs"); %>
<h1>About</h1>
<h3>Purpose</h3>
    <div id="inot_purpose">
        The purpose of this site is to track what In-N-Out&reg; (INO) you have visited.
        This includes adding pictures to that location, a note about the visit,
        why you visited, when you visited, and what meal you had.
    </div>
<h3>Background</h3>
    <div id="inot_background_info">
        As a born-and-raised Californian, I have loved In-N-Out&reg; (INO) my whole life.
        Since I was able to drive, I made it my goal to visit as many INO locations as I can,
        stopping off the freeway for a quick bite (or bathroom break on a long trip!), making
        it a post-concert meal, or even having an adventure just to reach a far away, exotic location.
        During college I worked at INO for a period, and this only deepend my love for their
        food and company. Because of these things, I created this tool to serve INO lovers
        from across the world.
    </div>
<h3>ERD & Relational Schema</h3>
    <div id="inot_db_images">
        <img src="/images/ERD.png" height="300px" width="690px"/>
        <img src="/images/RS.png" height="300px" width="500px"/>
    </div>
<%- include("../includes/footer.ejs"); %>